* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: system-ui;
    background-image: linear-gradient(rgb(255, 85, 85), rgb(250, 193, 88));
    background-position: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(250, 193, 88);
    height: 100px;
    box-shadow: 0 10px 30px rgb(247, 63, 63);
    width: 100%;
    position: sticky;
    top: 0;
    transition: .5s;
}

nav:hover {
    /* transform: translateY(-5px); */
    /* background: rgb(94, 94, 94); */
}

.logo-name {
    display: flex;
    justify-content: space-around;
}

.logo-name a {
    text-decoration: none;
    color: black;
}

.logo-name h1 {
    font-size: 40px;
    font-weight: 100;
    border-bottom: 1px solid transparent;
    transition: .5s;
}

.logo-name h1:hover {
    text-shadow: 0 0 20px rgb(0, 0, 0);
    border-bottom: 1px solid black;

}

nav .nav-left ul li img {
    width: 54px;
    height: 54px;
    padding: 5px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
}

nav .nav-left ul li img {
    transition: .5s;
}

nav .nav-left ul li img:hover {
    /* height: 47px; */
    /* width: 47px; */
    transform: translateY(5px);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
    border-bottom: .5px solid transparent;
    transition: .5s;
}

nav .nav-right ul li a:hover {
    /* color: gray; */
    /* text-shadow: 0 0 10px rgb(255, 255, 255); */
    border-bottom: .5px solid rgb(0, 0, 0);

}

section .section-1 {
    width: 100%;
    height: 100%;
}

section .section-box {
    margin: 20px;
    align-items: center;
}

article {
    font-size: 12px;
}

form {
    margin: 50px;
}

form label {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

form input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 500px;
}

form button {
    font-size: 20px;
    margin: 50px 0 0 0;
    width: 8rem;
    height: 2rem;
}

footer {
    box-shadow: 0 10px 30px rgb(247, 63, 63);
    background:
        /*rgb(30, 144, 255)*/
        transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 100px;
    color: white;
    margin: 10px 0 0 0;
    position: absolute;
    transition: .5s;

}

footer:hover {
    /* transform: translateY(5px); */
    /* background: rgba(247, 247, 247, 0.11); */
}

footer .container-1 {
    font-size: 30px;
    list-style: none;
}

footer .container-1 li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;

    transition: .5s;
}

footer .container-1 li {
    transition: .5s;
}

footer .container-1 li:hover {
    transform: translateY(-5px);
}

footer .container-1 a:hover {
    /* color: rgb(255, 255, 255); */
}

footer .container-2 ul {
    list-style: none;
    line-height: 40px;
}

footer .container-2 ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .5s;
}

footer .container-2 li a:hover {
    /* color: rgb(255, 255, 255); */
}

footer .container-2 ul li {
    transition: .5s;
}

footer .container-2 ul li:hover {
    transform: translateX(5px);
}

/* -------------------------ABOUT----------------------------------------- */
article {
    font-size: 15px;
}

/* ---------------INDEX-----GALLERY-WORK---------------------------------- */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.gallery .photos {
    padding: 0 10px;
}

.gallery {
    margin: 0 10px;
}

.gallery img {
    width: 5cm;
    height: 7cm;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.479);
    margin-bottom: 10px;
    transition: .3s;
}

.gallery img:hover {
    position: relative;
    transform: translateY(-10px);
}

.gallery img:active {}

.home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.home-heading h1 {
    display: flex;
    font-size: 40px;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 500px;
}

.home-heading span {
    font-weight: 900;
    text-align: center;

}

/* ______________________________RESPONSIVENESS------------------------ */
@media only screen and (max-width: 450px) {
    .gallery img{
        margin: 10px 0;
    }
    .gallery .photos {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: inherit;
        width: 420px;
        height: 55vh;
        display: list-item;
        background: rgba(255, 255, 255, 0.301);
        margin: 10px;
        border: 1px solid black;
        border-radius: 10px;
        
    }
    nav ul{
        display: list-item;
        align-items: center;
        text-align: center;
    }
}